/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */


/*body {
  min-width: 960px;
}*/

/* `Container
----------------------------------------------------------------------------------------------------*/


.container_12 {
  margin: 0 auto;
  width: 100%;
}

/* `Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11 {
  position: relative;
}

/* `Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

/* `Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .grid_1 {
  width: 8.33333%;
}

.container_12 .grid_2 {
  width: 16.66667%;
}

.container_12 .grid_3 {
  width: 25%;
}

.container_12 .grid_4 {
  width: 33.33333%;
}

.container_12 .grid_5 {
  width: 41.66665%;
}

.container_12 .grid_6 {
  width: 50%;
}

.container_12 .grid_7 {
  width: 58.33333%;
}

.container_12 .grid_8 {
  width: 66.66666%;
}

.container_12 .grid_9 {
  width: 75%;
}

.container_12 .grid_10 {
  width: 83.33333%;
}

.container_12 .grid_11 {
  width: 91.66666%;
}

.container_12 .grid_12 {
  width: 100%;
}

/* `Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .prefix_1 {
  padding-left: 8.33333%;
}

.container_12 .prefix_2 {
  padding-left: 16.66667%;
}

.container_12 .prefix_3 {
  padding-left: 25%;
}

.container_12 .prefix_4 {
  padding-left: 33.33333%;
}

.container_12 .prefix_5 {
  padding-left: 41.66665%;
}

.container_12 .prefix_6 {
  padding-left: 50%;
}

.container_12 .prefix_7 {
  padding-left: 58.33333%;
}

.container_12 .prefix_8 {
  padding-left: 66.66666%;
}

.container_12 .prefix_9 {
  padding-left: 75%;
}

.container_12 .prefix_10 {
  padding-left: 83.33333%;
}

.container_12 .prefix_11 {
  padding-left: 91.66666%;
}

/* `Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .suffix_1 {
  padding-right: 8.33333%;
}

.container_12 .suffix_2 {
  padding-right: 16.66667%;
}

.container_12 .suffix_3 {
  padding-right: 25%;
}

.container_12 .suffix_4 {
  padding-right: 33.33333%;
}

.container_12 .suffix_5 {
  padding-right: 41.66665%;
}

.container_12 .suffix_6 {
  padding-right: 50%;
}

.container_12 .suffix_7 {
  padding-right: 58.33333%;
}

.container_12 .suffix_8 {
  padding-right: 66.66666%;
}

.container_12 .suffix_9 {
  padding-right: 75%;
}

.container_12 .suffix_10 {
  padding-right: 83.33333%;
}

.container_12 .suffix_11 {
  padding-right: 91.66666%;
}

/* `Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .push_1 {
  left: 8.33333%;
}

.container_12 .push_2 {
  left: 16.66667%;
}

.container_12 .push_3 {
  left: 25%;
}

.container_12 .push_4 {
  left: 33.33333%;
}

.container_12 .push_5 {
  left: 41.66665%;
}

.container_12 .push_6 {
  left: 50%;
}

.container_12 .push_7 {
  left: 58.33333%;
}

.container_12 .push_8 {
  left: 66.66666%;
}

.container_12 .push_9 {
  left: 75%;
}

.container_12 .push_10 {
  left: 83.33333%;
}

.container_12 .push_11 {
  left: 91.66666%;
}

/* `Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .pull_1 {
  left: -8.33333%;
}

.container_12 .pull_2 {
  left: -16.66667%;
}

.container_12 .pull_3 {
  left: -25%;
}

.container_12 .pull_4 {
  left: -33.33333%;
}

.container_12 .pull_5 {
  left: -41.66665%;
}

.container_12 .pull_6 {
  left: -50%;
}

.container_12 .pull_7 {
  left: -58.33333%;
}

.container_12 .pull_8 {
  left: -66.66666%;
}

.container_12 .pull_9 {
  left: -75%;
}

.container_12 .pull_10 {
  left: -83.33333%;
}

.container_12 .pull_11 {
  left: -91.66666%;
}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after,
.container_12:before,
.container_12:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after,
.container_12:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix,
.container_12 {
  zoom: 1;
}
/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
/*#cboxTitle{margin:0;}*/
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000;}
#colorbox{outline:0;}
    #cboxTopLeft{width:14px; height:14px; background:url(images/controls.png) no-repeat 0 0;}
    #cboxTopCenter{height:14px; background:url(images/border.png) repeat-x top left;}
    #cboxTopRight{width:14px; height:14px; background:url(images/controls.png) no-repeat -36px 0;}
    #cboxBottomLeft{width:14px; height:43px; background:url(images/controls.png) no-repeat 0 -32px;}
    #cboxBottomCenter{height:43px; background:url(images/border.png) repeat-x bottom left;}
    #cboxBottomRight{width:14px; height:43px; background:url(images/controls.png) no-repeat -36px -32px;}
    #cboxMiddleLeft{width:14px; background:url(images/controls.png) repeat-y -175px 0;}
    #cboxMiddleRight{width:14px; background:url(images/controls.png) repeat-y -211px 0;}
    #cboxContent{background:#fff; overflow:visible;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:5px;}
        #cboxLoadingOverlay{background:url(images/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}
        /*#cboxTitle{position:absolute; bottom:-25px; left:0; text-align:center; width:100%; font-weight:bold; color:#7C7C7C;}
        #cboxCurrent{position:absolute; bottom:-25px; left:58px; font-weight:bold; color:#7C7C7C;}*/

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible;  position:absolute; bottom:-29px; background:url(images/controls.png) no-repeat 0px 0px; width:23px; height:23px; text-indent:-9999px;}
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxPrevious{left:0px; background-position: -51px -25px;}
        #cboxPrevious:hover{background-position:-51px 0px;}
        #cboxNext{left:27px; background-position:-75px -25px;}
        #cboxNext:hover{background-position:-75px 0px;}
        #cboxClose{right:0; background-position:-100px -25px;}
        #cboxClose:hover{background-position:-100px 0px;}

        .cboxSlideshow_on #cboxSlideshow{background-position:-125px 0px; right:27px;}
        .cboxSlideshow_on #cboxSlideshow:hover{background-position:-150px 0px;}
        .cboxSlideshow_off #cboxSlideshow{background-position:-150px -25px; right:27px;}
        .cboxSlideshow_off #cboxSlideshow:hover{background-position:-125px 0px;}
/* `Make a flipbook
----------------------------------------------------------------------------------------------------*/
/* line 4, ../../app/assets/stylesheets/flipbook.css.scss */
#fb_menu {
  height: 60px;
  margin-bottom: 24px;
}

/* line 9, ../../app/assets/stylesheets/flipbook.css.scss */
#flipbook_all {
  height: 175px;
  background: #E74C3C;
}

/* line 14, ../../app/assets/stylesheets/flipbook.css.scss */
.ctr_button2 {
  display: block;
  margin: 0 auto;
  border: none;
  height: 60px;
  width: 300px;
  background: #3498DB;
  color: #2C3E50;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
}

/* line 28, ../../app/assets/stylesheets/flipbook.css.scss */
#flipbook_form li {
  display: inline-block;
  list-style: none;
  margin-top: 25px;
  margin-bottom: 10px;
  margin-left: 5px;
}

/* line 36, ../../app/assets/stylesheets/flipbook.css.scss */
#flipbook_form input[type="text"] {
  border: none;
  width: 90%;
  height: 30px;
  font-size: 18px;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 5px;
}

/* line 46, ../../app/assets/stylesheets/flipbook.css.scss */
#flipbook_form label {
  font-size: 18px;
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
}

/* line 52, ../../app/assets/stylesheets/flipbook.css.scss */
#insta_photos {
  background: #FFF;
}

/* line 56, ../../app/assets/stylesheets/flipbook.css.scss */
#photos {
  width: 1400px;
  margin-right: auto;
  margin-left: auto;
}

/* line 62, ../../app/assets/stylesheets/flipbook.css.scss */
#photos_new {
  width: 200px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background: #FFF;
  float: left;
  padding-top: 15px;
}

/* `Show flipbook
----------------------------------------------------------------------------------------------------*/
/* line 75, ../../app/assets/stylesheets/flipbook.css.scss */
#nav2 {
  background: #34495E;
  height: 60px;
  margin-bottom: 15px;
}

/* line 81, ../../app/assets/stylesheets/flipbook.css.scss */
#links2 {
  height: 60px;
}

/* line 85, ../../app/assets/stylesheets/flipbook.css.scss */
#links2 a {
  float: right;
  line-height: 60px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  margin-right: 37px;
  color: #E74C3C;
}

/* line 94, ../../app/assets/stylesheets/flipbook.css.scss */
#flipbook_back {
  height: 700px;
  margin-bottom: 100px;
  background: #E74C3C;
}

/* line 100, ../../app/assets/stylesheets/flipbook.css.scss */
#flipbook_form {
  height: 150px;
}

/* line 104, ../../app/assets/stylesheets/flipbook.css.scss */
#fb_show img {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

/* line 110, ../../app/assets/stylesheets/flipbook.css.scss */
#settings {
  float: right;
  padding: 0;
}

/* line 115, ../../app/assets/stylesheets/flipbook.css.scss */
#settings {
  margin-bottom: 0px;
}

/* line 119, ../../app/assets/stylesheets/flipbook.css.scss */
#settings li {
  display: inline-block;
  margin-left: 0px;
}

/* line 124, ../../app/assets/stylesheets/flipbook.css.scss */
.fb_button {
  display: block;
  margin: 0;
  border: none;
  height: 60px;
  width: 100px;
  background: #3498DB;
  color: #2C3E50;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
}

/* line 138, ../../app/assets/stylesheets/flipbook.css.scss */
#fb_description {
  margin: auto;
}
/*http://drinchev.github.io/monosocialiconsfont/*/
@font-face {
  font-family: 'Mono Social Icons Font';
  src: url("MonoSocialIconsFont-1.10.eot");
  src: url("MonoSocialIconsFont-1.10.eot?#iefix") format("embedded-opentype"), url("MonoSocialIconsFont-1.10.woff") format("woff"), url("MonoSocialIconsFont-1.10.ttf") format("truetype"), url("MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont") format("svg");
  src: url("MonoSocialIconsFont-1.10.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 16, ../../app/assets/stylesheets/global.css.scss */
.symbol, a.symbol:before {
  font-family: 'Mono Social Icons Font';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-decoration: none;
}

/* line 31, ../../app/assets/stylesheets/global.css.scss */
a.symbol:before {
  content: attr(title);
  margin-right: 0.3em;
  font-size: 130%;
}
#gcontainer{
  height: 1000px;
}

#col{
  height: 1000px;
  background: #E74C3C;
}
/* line 1, ../../app/assets/stylesheets/index.css.scss */
#banner {
  background: #34495E;
}

/* `Name and tagline
----------------------------------------------------------------------------------------------------*/
/* line 8, ../../app/assets/stylesheets/index.css.scss */
#name {
  height: 120px;
  line-height: 600%;
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  font-weight: 300;
  color: #ECF0F1;
}

/* line 17, ../../app/assets/stylesheets/index.css.scss */
#name span {
  font-weight: 400;
}

/* line 21, ../../app/assets/stylesheets/index.css.scss */
.separator {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 350px;
  margin: 0 auto;
}

/* line 27, ../../app/assets/stylesheets/index.css.scss */
#tagline {
  height: 60px;
  line-height: 60px;
  bottom: 0px;
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  font-weight: 100;
  color: #ECF0F1;
}

/* line 37, ../../app/assets/stylesheets/index.css.scss */
.center {
  text-align: center;
}

/* `Signup button
----------------------------------------------------------------------------------------------------*/
/* line 44, ../../app/assets/stylesheets/index.css.scss */
#signup_button1 {
  height: 84px;
}

/* line 48, ../../app/assets/stylesheets/index.css.scss */
.ctr_button {
  display: block;
  margin: 0 auto;
  margin-top: 24px;
  border: none;
  height: 60px;
  width: 300px;
  background: #3498DB;
  color: #2C3E50;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
}

/* `Graphic
----------------------------------------------------------------------------------------------------*/
/* line 72, ../../app/assets/stylesheets/index.css.scss */
#graphic {
  background: #34495E;
  padding-bottom: 24px;
}

/* line 78, ../../app/assets/stylesheets/index.css.scss */
#backdrop {
  background: #2C3E50;
}

/* `Buffer
----------------------------------------------------------------------------------------------------*/
/* line 92, ../../app/assets/stylesheets/index.css.scss */
#buffer {
  height: 192px;
  line-height: 192px;
  background: #E74C3C;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 15px;
}

/* line 103, ../../app/assets/stylesheets/index.css.scss */
#buff_text {
  color: #2C3E50;
}

/* `Public flipbooks
----------------------------------------------------------------------------------------------------*/
/* line 110, ../../app/assets/stylesheets/index.css.scss */
#discover {
  background: #FFF;
  min-height: 1000px;
}

/* line 115, ../../app/assets/stylesheets/index.css.scss */
#public_fbs {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

/* line 122, ../../app/assets/stylesheets/index.css.scss */
#public_fbs li {
  list-style-type: none;
  display: inline-block;
  margin: 0 auto;
  margin-right: 5px;
  margin-left: 5px;
}

/* line 130, ../../app/assets/stylesheets/index.css.scss */
#public_fbs a {
  text-decoration: none;
}
/* line 11, ../../app/assets/stylesheets/layout.css.scss */
html, body, #container {
  height: 100%;
  margin: 0 auto;
}

/* line 16, ../../app/assets/stylesheets/layout.css.scss */
#container {
  min-height: auto !important;
  height: 100%;
}

/* line 21, ../../app/assets/stylesheets/layout.css.scss */
#nav {
  background: #34495E;
  height: 60px;
}

/* `Logo and social media icons (font awesome)
----------------------------------------------------------------------------------------------------*/
/* line 29, ../../app/assets/stylesheets/layout.css.scss */
#flip_icon {
  float: left;
  width: 60px;
  height: 60px;
}

/* line 35, ../../app/assets/stylesheets/layout.css.scss */
#social_icon1 {
  float: left;
  width: 60px;
  height: 60px;
  background: #2C3E50;
}

/* line 42, ../../app/assets/stylesheets/layout.css.scss */
.facebook_icon {
  position: relative;
}

/* line 46, ../../app/assets/stylesheets/layout.css.scss */
.facebook_icon:before {
  content: "\f09a";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  /*--adjust as necessary--*/
  color: #3498DB;
  font-size: 28px;
  padding-left: 23px;
  position: absolute;
  top: 9px;
  left: 0;
}

/* line 61, ../../app/assets/stylesheets/layout.css.scss */
#social_icon2 {
  float: left;
  width: 60px;
  height: 60px;
  background: #2C3E50;
}

/* line 68, ../../app/assets/stylesheets/layout.css.scss */
.twitter_icon {
  position: relative;
}

/* line 72, ../../app/assets/stylesheets/layout.css.scss */
.twitter_icon:before {
  content: "\f099";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  /*--adjust as necessary--*/
  color: #3498DB;
  font-size: 28px;
  padding-left: 18px;
  position: absolute;
  top: 9px;
  left: 0;
}

/* line 87, ../../app/assets/stylesheets/layout.css.scss */
#social_icon3 {
  float: left;
  width: 60px;
  height: 60px;
  background: #2C3E50;
}

/* line 94, ../../app/assets/stylesheets/layout.css.scss */
.tumblr_icon {
  position: relative;
}

/* line 98, ../../app/assets/stylesheets/layout.css.scss */
.tumblr_icon:before {
  content: "\f173";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  /*--adjust as necessary--*/
  color: #3498DB;
  font-size: 28px;
  padding-left: 20px;
  position: absolute;
  top: 8px;
  left: 0;
}

/* `Nav links
----------------------------------------------------------------------------------------------------*/
/* line 116, ../../app/assets/stylesheets/layout.css.scss */
#links {
  height: 60px;
}

/* line 120, ../../app/assets/stylesheets/layout.css.scss */
#links a {
  float: right;
  line-height: 60px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  margin-right: 37px;
  color: #E74C3C;
}

/* `Footer
----------------------------------------------------------------------------------------------------*/
/* line 132, ../../app/assets/stylesheets/layout.css.scss */
#footer .push {
  height: 216px;
}

/* line 136, ../../app/assets/stylesheets/layout.css.scss */
#footer {
  background: #34495E;
  margin-top: 24px;
}

/* line 141, ../../app/assets/stylesheets/layout.css.scss */
.foot_buttons {
  float: right;
  margin-right: 10px;
}

/* line 146, ../../app/assets/stylesheets/layout.css.scss */
#credits {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #FFF;
  line-height: 216px;
}
/* line 1, ../../app/assets/stylesheets/login.css.scss */
#login_nav {
  background: #FFF;
  margin-bottom: 15px;
}

/* line 6, ../../app/assets/stylesheets/login.css.scss */
#name_blk {
  width: 500px;
  background: #34495E;
}

/* line 11, ../../app/assets/stylesheets/login.css.scss */
#login_all {
  display: block;
  margin: 0 auto;
}

/* line 16, ../../app/assets/stylesheets/login.css.scss */
#login_form {
  background: #34495E;
  height: 350px;
  width: 500px;
}

/* line 22, ../../app/assets/stylesheets/login.css.scss */
#login_form input[type="text"] {
  width: 295px;
  height: 55px;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 5px;
}

/* line 35, ../../app/assets/stylesheets/login.css.scss */
#login_form input[type="password"] {
  width: 295px;
  height: 55px;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 5px;
}

/* line 48, ../../app/assets/stylesheets/login.css.scss */
#login_form input[type="submit"] {
  margin-top: 15px;
  margin-bottom: 15px;
}
/* `XHTML, HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/


a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html,
body {
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
/*
  Override the default (display: inline) for
  browsers that do not recognize HTML5 tags.

  IE8 (and lower) requires a shiv:
  http://ejohn.org/blog/html5-shiv
*/
  display: block;
}

b,
strong {
/*
  Makes browsers agree.
  IE + Opera = font-weight: bold.
  Gecko + WebKit = font-weight: bolder.
*/
  font-weight: bold;
}

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
/*
  For IE.
  http://css-tricks.com/ie-fix-bicubic-scaling-for-images
*/
  -ms-interpolation-mode: bicubic;
}

ol,
ul {
  list-style: none;
}

li {
/*
  For IE6 + IE7:

  "display: list-item" keeps bullets from
  disappearing if hasLayout is triggered.
*/
  display: list-item;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

sub,
sup,
small {
  font-size: 75%;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg {
/*
  For IE9. Without, occasionally draws shapes
  outside the boundaries of <svg> rectangle.
*/
  overflow: hidden;
}
/* line 1, ../../app/assets/stylesheets/signup.css.scss */
#signup {
  height: 200px;
}

/* line 5, ../../app/assets/stylesheets/signup.css.scss */
#signup_form {
  height: 60px;
  background: #2C3E50;
}

/* line 10, ../../app/assets/stylesheets/signup.css.scss */
#signup_form ul {
  margin: 0 auto;
  text-align: center;
}

/* line 15, ../../app/assets/stylesheets/signup.css.scss */
#signup_form li {
  display: inline-block;
  list-style: none;
  margin-top: 13px;
  margin-left: 5px;
}

/* line 22, ../../app/assets/stylesheets/signup.css.scss */
#signup_form input[type="text"] {
  border: none;
  width: 90%;
  height: 30px;
  font-size: 18px;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 5px;
}

/* line 32, ../../app/assets/stylesheets/signup.css.scss */
#signup_form input[type="password"] {
  border: none;
  width: 90%;
  height: 30px;
  font-size: 18px;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 5px;
}

/* line 42, ../../app/assets/stylesheets/signup.css.scss */
#signup_button {
  margin-top: 15px;
}
/* `Basic HTML
----------------------------------------------------------------------------------------------------*/


body {
  font: 13px/1.5 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
}

pre,
code {
  font-family: "DejaVu Sans Mono", Menlo, Consolas, monospace;
}

hr {
  border: 0 solid #ccc;
  border-top-width: 1px;
  clear: both;
  height: 0;
}

/* `Headings
----------------------------------------------------------------------------------------------------*/

h1 {
  font-size: 25px;
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 19px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 15px;
}

/* `Spacing
----------------------------------------------------------------------------------------------------*/

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
  margin-left: 30px;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin-bottom: 20px;
}
/* `Name and avatar
----------------------------------------------------------------------------------------------------*/
/* line 4, ../../app/assets/stylesheets/users.css.scss */
#profile_banner {
  background: #34495E;
}

/* line 8, ../../app/assets/stylesheets/users.css.scss */
#avatar {
  float: left;
  width: 60px;
  height: 60px;
}

/* line 14, ../../app/assets/stylesheets/users.css.scss */
#menu {
  height: 200px;
}

/* `Profile flipbooks
----------------------------------------------------------------------------------------------------*/
/* line 21, ../../app/assets/stylesheets/users.css.scss */
#profile_flipbooks {
  background: #FFF;
  min-height: 1000px;
  margin-top: 15px;
}

/* line 27, ../../app/assets/stylesheets/users.css.scss */
#fbs_all {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

/* line 34, ../../app/assets/stylesheets/users.css.scss */
#fbs_all li {
  list-style-type: none;
  display: inline-block;
  margin: 0 auto;
  margin-right: 5px;
  margin-left: 5px;
}

/* line 42, ../../app/assets/stylesheets/users.css.scss */
#fbs_all a {
  text-decoration: none;
}
