<!DOCTYPE html>
<html>
<body>

<div id="container" class="container_12">
  
  <div id="profile_banner" class="grid_12 alpha omega">
      <div id="name" class="center">
        <%= current_user.name %>
      </div>
      
      <div class="separator"></div>
      
      <div id="tagline" class="center">
        share what you make
      </div>
      
      <div id="menu">
        <%= button_to "Connect with Instagram", :connect, :method => :get, :class => "ctr_button" %>
        <%= button_to "Make a flipbook", :new_flipbk, :method => :get, :class => "ctr_button" %>         
      </div>
  </div>
  
  <div id="profile_flipbooks" class="grid_12 alpha omega">
      <div id="fbs_all">
        <ul>
          <% @user.flipbks.each do |book| %>
        <li>
          <% book.delete if book.photos.all.empty? %>
          <%= link_to(image_tag(book.photos.all.first.url,:alt => book.name, :size => "300x300"), flipbk_path(book.id)) if !(book.photos.all.empty?) %>
        </li>
          <% end %>
        </ul>
      </div>
  </div>
  
  <div class="push"></div>
      
</div>

</body>
</html>