/* `Make a flipbook
----------------------------------------------------------------------------------------------------*/

#fb_menu{
  height: 60px;
  margin-bottom: 24px;
}

#flipbook_all{
  height: 175px;
  background: #E74C3C;
}

.ctr_button2{
  display: block;
  margin: 0 auto;
  border: none;
  height: 60px;
  width: 300px;
  background: #3498DB;
  color: #2C3E50;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
}

#flipbook_form li{
  display: inline-block;
  list-style: none;
  margin-top: 25px;
  margin-bottom: 10px;
  margin-left: 5px;
}

#flipbook_form input[type="text"]{
  border: none;
  width: 90%;
  height: 30px;
  font-size: 18px;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 5px;
}

#flipbook_form label{
  font-size: 18px;
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
}

#insta_photos{
  background: #FFF;
}

#photos{
  width: 1400px;
  margin-right: auto;
  margin-left: auto;
}

#photos_new{
  width: 200px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background: #FFF;
  float: left;
  padding-top: 15px;
}

/* `Show flipbook
----------------------------------------------------------------------------------------------------*/

#nav2{
  background: #34495E;
  height: 60px;
  margin-bottom: 15px;
}

#links2{
  height: 60px;
}

#links2 a{
  float: right;
  line-height: 60px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  margin-right: 37px;
  color: #E74C3C;
}

#flipbook_all{
  height: 700px;
  margin-bottom: 100px;
}

#fb_show img{
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

#settings{
  float: right;
  padding: 0;
}

#settings{
  margin-bottom: 0px;
}

#settings li{
  display: inline-block;
  margin-left: 0px;
}

.fb_button{
  display: block;
  margin: 0;
  border: none;
  height: 60px;
  width: 100px;
  background: #3498DB;
  color: #2C3E50;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
}

#fb_description{
  margin: auto;
}










//#main{
//  display: block;
//  margin-top: 20px;
//  max-width: 650px;
//  margin: 50px auto 50px auto;
//}
//
//#fb_main h2{
//  font-family: Arial, Helvetica, sans-serif;
//  font-size: 30px;
//  margin-left: 15px;
//}
//
//#flipbook_index{
//  border-style: solid;
//  width: 650px;
//  display: inline-block; 
//}
//
//#flipbook_index p{
//  font-family: Arial, Helvetica, sans-serif;
//  font-size: 15px;
//  margin-left: 10px;
//}
//
//#flipbook_index a{
//  text-decoration: none;
//  color: #2B72A8;
//}
//
//#flipbook_index a:hover{
//  text-decoration: none;
//  color: #000000;
//}
//
//#flipbook_index_list li{
//  display: inline;
//  margin: 1px;
//}
//
//#link_new_flipbook{
//  padding: 15px;
//}
//
//#link_new_flipbook a{
//  text-decoration: none;
//  color: #000000;
//  font-family: Arial, Helvetica, sans-serif;
//  font-size: 15px;
//}
//
//#link_new_flipbook a:hover{
//  color: #2B72A8;
//}
//
///*------------------------------------------------*/
//
//#new_flipbook_form{
//  border-style: solid;
//  width: 700px;
//  display: inline-block;
//  font-family: Arial, Helvetica, sans-serif;
//  font-size: 15px;
//  padding: 15px;
//}
//
//#new_flipbook_form li{
//  list-style-type: none;
//}
//
//#flipbook_fields{
//  margin: auto;
//}
//
//#new_flipbook_form label{
//  width: 8em;
//  float: left;
//  text-align: left;
//  padding-top: 2px;
//  margin-right: 20px;
//}
//
//#photos_new{
//  padding-bottom: 15px;
//}
//
//#new_flipbook_form .button{
//  float: left;
//  margin-top: 15px;
//  margin-right: 15px;
//  font-family: Arial, Helvetica, sans-serif;
//  font-size: 10px;
//}
//
///*------------------------------------------------*/
//
//#flipbooks_show{
//  border-style: solid;
//  width: 600px;
//  display: inline-block;
//  font-family: Arial, Helvetica, sans-serif;
//  font-size: 10px;
//  text-align:center;
//}
//
//#settings{
//  padding: 0;
//}
//
//#settings li{
//  display:inline-block;
//}
//
//#settings a{
//  color: #2B72A8;
//  font-family: Arial, Helvetica, sans-serif;
//  font-size: 15px;
//}
//
//#settings a:hover{
//  color: #000000;
//}
//
//.margin{
//  margin-left: 35px;
//}
//
//#flipbook_description{
//  margin: auto;
//}






