:focus {
  outline-color: transparent;
  outline-style: none;
}

/* Grid layout */

.full-width {
  max-width: 100%;
  margin: 0;
}

/* `Logo */

.logo {
  float: left;
  text-indent: -9999px;
  overflow: hidden;
  width: 140px;
  height: 70px;
  position: relative;
  z-index: 999;
  background: url("logo.png") no-repeat;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.logo a {
  display: block;
  height: 100%;
}

/* `Navigation */

.navigation {
  height: 65px;
  width: 100%;
  background: #FFF;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
	z-index: 9999;
	display: none;
}

.navigation ul {
  float: right;
  display: block;
  list-style-type: none;
}

.navigation li {
  display: inline-block;
}

.navigation li a {
  text-decoration: none;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: rgb(0, 79, 91);
  padding: 0 20px;
}

/* `Navigation icons */

.navigation .icon-facebook {
  text-decoration: none;
  display: block;
  position: relative;
  top: 5px;
  padding-left: 23px;
  text-align: center;
  color: rgb(0, 79, 91);
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 24px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-facebook:before {
  content: "\e602";
}
 
.navigation .icon-twitter {
  text-decoration: none;
  display: block;
  position: relative;
  top: 5px;
  padding-left: 23px;
  text-align: center;
  color: rgb(0, 79, 91);
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 24px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-twitter:before {
  content: "\e603";
}
 
.navigation .icon-tumblr {
  text-decoration: none;
  display: block;
  position: relative;
  top: 5px;
  padding-left: 23px;
  text-align: center;
  color: rgb(0, 79, 91);
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 24px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-tumblr:before {
  content: "\e604";
}

.navigation .icon-instagram {
  text-decoration: none;
  display: block;
  position: relative;
  top: 5px;
  padding-left: 23px;
  text-align: center;
  color: rgb(0, 79, 91);
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 24px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-instagram:before {
  content: "\e605";
}






