#login_nav{
  background: #FFF;
  margin-bottom: 15px;
}

#name_blk{
  width: 500px;
  background: #34495E;
}

#login_all{
  display: block;
  margin: 0 auto;
}

#login_form{
  background: #34495E;
  height: 350px;
  width: 500px;
}

#login_form input[type="text"]{
  width: 295px;
  height: 55px; 
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 5px;
}

#login_form input[type="password"]{
  width: 295px;
  height: 55px;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 5px;
}

#login_form input[type="submit"]{
  margin-top: 15px;
  margin-bottom: 15px;
}