#login_form{
  height: 500px;
}

#login_form input[type="text"]{
  width: 295px;
  height: 55px;
  font-size: 18px; 
  margin-top: 15px;
  margin-bottom: 15px; 
}

#login_form input[type="password"]{
  width: 295px;
  height: 55px;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#login_form input[type="submit"]{
  margin-top: 15px;
  margin-bottom: 15px;
}