@media only screen {

  .navigation ul {
    float: none;
    padding: 0;
    text-align: center;
  }
  
  .navigation li a {
    padding: 0 8px;
  }  
 
  #hp-footer {
    font: 3em/60px 'Roboto', sans-serif;
  }
  
  
  
}