#signup{
  height: 200px;
}


#signup_form{
  height: 60px;
  background: #2C3E50;
}

#signup_form li{
  display: inline-block;
  list-style: none;
  margin-top: 14px;
  margin-left: 5px;
}

#signup_form input[type="text"]{
  width: 220px;
  height: 26px;
  font-size: 18px;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}

#signup_form input[type="password"]{
  width: 220px;
  height: 26px;
  font-size: 18px;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}

//#signup_button2{
//  height: 84px;
//  display: none;
//}




//#signup_form{
//  height: 60px;
//  background: #2C3E50;
//  display: none;
//}
//
//#signup_name{
//  margin-top: 14px;
//  margin-left: 5px;
//}
//
//#signup_email{
//  margin-top: 14px;
//  margin-left: 5px;
//}
//
//#signup_password{
//  margin-top: 14px;
//  margin-left: 5px;
//}
//
//#signup_pwconfirm{
//  margin-top: 14px;
//  margin-left: 5px;
//}
//
//#signup_form input[type="text"]{
//  width: 220px;
//  height: 26px;
//  font-size: 18px;
//}
//
//#signup_form input[type="password"]{
//  width: 220px;
//  height: 26px;
//  font-size: 18px;
//}
//
//#signup_button2{
//  height: 84px;
//  display: none;
//}