#signup{
  height: 200px;
}

#signup_form{
  height: 60px;
  background: #2C3E50;
}

#signup_form ul{
  margin: 0 auto;
  text-align: center;
}

#signup_form li{
  display: inline-block;
  list-style: none;
  margin-top: 13px;
  margin-left: 5px;
}

#signup_form input[type="text"]{
  border: none;
  width: 90%;
  height: 30px;
  font-size: 18px;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 5px;
}

#signup_form input[type="password"]{
  border: none;
  width: 90%;
  height: 30px;
  font-size: 18px;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 5px;
}

#signup_button{
  margin-top: 15px;
}