#watch-us-build {
	//position: relative;
	overflow-x: hidden;
	min-height: 100%;
	width: 100%;
}

//.side-left {
//  //position: absolute;
//  top: 0;
//  left: 0;
//  width: 50%;
//  height: 100%;
//  color: #FFF;
//  //outline: 1px solid #85eef6;
//}
//
//.side-right {
//  position: absolute;
//  top: 0;
//  right: 0;
//  width: 50%;
//  height: 100%;
//  right: 0;
//  //background: url("will.jpg") no-repeat;
//  color: #47a3da;
//  //outline: 1px solid #85eef6;
//  //background-size: cover;
//  //background-position: center bottom;
//}

#map-canvas {
  position: fixed;
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

.us-overlay1 {
  position: absolute;
  width: 100%;
  height: 70vh;
  bottom: 15vh;
  left: 0;
  z-index: 2;
  opacity: 0.9;
  background: #024854;
}

.info1 {
  text-align: center;
  padding-top: 16em;
}

.us-name1 {
  position: relative;
  font: 40px/50px 'Roboto', sans-serif;
  color: #85eef6 !important;
  font-weight: 400;
  z-index: 5;
}

.us-line1 {
  position: relative;
  font: 2em 'Roboto', sans-serif;
  color: #85eef6;
  font-weight: 300;
  margin: 30px 0 26px 0;
  z-index: 5;
  padding: 0 20px;
}

.us-line1 a {
  position: relative;
  text-decoration: none;
  color: #FFF;
  font-weight: 400;
}

.us-icons .icon-arrow-down1 {
  text-decoration: none;
  display: block;
  position: relative;
  top: 5px;
  padding-left: 23px;
  text-align: center;
  color: #85eef6;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 60px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  z-index: 5;
}

.icon-arrow-down1:before {
  content: "\e609";
}

.us-icons .icon-arrow-down2 {
  text-decoration: none;
  display: block;
  position: relative;
  top: 5px;
  padding-left: 23px;
  text-align: center;
  color: #024854;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 60px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  z-index: 5;
}

.icon-arrow-down2:before {
  content: "\e609";
}

.us-icons .icon-arrow-up {
  text-decoration: none;
  display: block;
  position: relative;
  top: 5px;
  padding-left: 23px;
  text-align: center;
  color: #024854;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 60px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  z-index: 5;
}

.icon-arrow-up:before {
  content: "\e60a";
}

#build-with-us {
	position: relative;
	overflow-x: hidden;
	height: 100vh;
	width: 100%;
}

.info2 {
  text-align: center;
  padding-top: 5em;
}

.us-name2 {
  font: 40px/50px 'Roboto', sans-serif;
  color: #024854 !important;
  font-weight: 400;
  z-index: 5;
}

.us-line2 {
  position: relative;
  font: 2em 'Roboto', sans-serif;
  color: #024854;
  font-weight: 300;
  margin: 30px 0 26px 0;
  z-index: 5;
  padding: 0 20px;
}

.us-line2 a {
  position: relative;
  text-decoration: none;
  color: #024854;
  font-weight: 400;
}

.work-samples {
  margin: 0;
  padding: 0;
  padding-top: 5em;
  width: 100%;
  height: 100%;
}

.sample1, .sample2, .sample3, .sample4 {
  margin: 0;
  padding: 0;
}

//.separator {
//  position: relative;
//  margin: 0;
//  padding: 0;
//  width: 100%;
//  height: 65px;
//}

#lead-by {
  position: relative;
  margin-top: 65px;
  width: 100%;
  height: 100vh;
  right: 0;
  background: url("will.jpg") no-repeat;
  color: #47a3da;
  //outline: 1px solid #85eef6;
  background-size: cover;
  background-position: center bottom;
}

.us-overlay2 {
  position: absolute;
  width: 100%;
  height: 100vh;
  right: 0;
  z-index: 2;
  opacity: 0.9;
  background: #85eef6;
}

.info3 {
  text-align: center;
  padding-top: 19em;
}

.us-name3 {
  position: relative;
  font: 40px/50px 'Roboto', sans-serif;
  color: #024854 !important;
  font-weight: 400;
  z-index: 5;
}

.us-line3 {
  position: relative;
  font: 2em 'Roboto', sans-serif;
  color: #024854;
  font-weight: 300;
  margin: 30px 0 26px 0;
  z-index: 5;
  padding: 0 20px;
}

.us-line3 a {
  position: relative;
  text-decoration: none;
  color: #024854;
  font-weight: 400;
}

#us-footer {
  position: relative;
  border-top: 1px solid #85eef6;
  margin: 0;
  padding-top: 11px;
  text-align: center;
  color: #024854;
  font: 8em/60px 'Roboto', sans-serif;
  font-weight: 700;
}

//.us-overlay3 {
//  position: absolute;
//  float: left;
//  width: 100%;
//  height: 100px;
//  z-index: 2;
//  opacity: 0.9;
//  background: #024854;
//  top: 500px;
//}












