.splitlayout {
	//position: relative;
	overflow-x: hidden;
	min-height: 100%;
	width: 100%;
}

.side-left {
	//position: absolute;
	top: 0;
	left: 0;
  width: 50%;
  height: 100%;
  color: #FFF;
	outline: 1px solid #85eef6; /* avoid gap */
}

.side-right {
	position: absolute;
	top: 0;
	right: 0;
  width: 50%;
  height: 100%;
	right: 0;
	background: url("will.jpg") no-repeat;
	color: #47a3da;
	outline: 1px solid #85eef6; /* avoid gap */
  background-size: cover;
  background-position: center bottom;
}

#map-canvas {
  position: fixed;
  width: 50%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

.us-overlay1 {
  position: fixed;
  width: 100%;
  height: 70vh;
  bottom: 15vh;
  left: 0;
  z-index: 2;
  opacity: 0.9;
  background: #024854;
  //transition: width 1s linear;
}

//.us-overlay1.active {
//  background: red;
//}
//
//.us-overlay1.inactive{
//  background: #024854;
//}

.us-overlay2 {
  position: fixed;
  width: 50%;
  height: 70vh;
  bottom: 15vh;
  right: 0;
  z-index: 2;
  opacity: 0.9;
  background: #85eef6;
}

.info {
  text-align: center;
  padding-top: 15em;
}

.us-name1 {
  position: relative;
  font: 40px/50px 'Roboto', sans-serif;
  color: #85eef6 !important;
  font-weight: 400;
  z-index: 5;
}

.us-name2 {
  position: relative;
  font: 40px/50px 'Roboto', sans-serif;
  color: #024854 !important;
  font-weight: 400;
  z-index: 5;
}

.us-line1 {
  position: relative;
  font: 1.5em 'Roboto', sans-serif;
  color: #85eef6;
  font-weight: 300;
  margin: 30px 0 26px 0;
  z-index: 5;
  padding: 0 20px;
}

.us-line1 a {
  position: relative;
  text-decoration: none;
  color: #FFF;
}

.us-line2 {
  position: relative;
  font: 1.5em 'Roboto', sans-serif;
  color: #024854;
  font-weight: 300;
  margin: 30px 0 26px 0;
  z-index: 5;
  padding: 0 20px;
}

.us-line2 a {
  position: relative;
  text-decoration: none;
  color: #FFF;
}

.us-icons .icon-arrow-left {
  text-decoration: none;
  display: block;
  position: relative;
  top: 5px;
  padding-left: 23px;
  text-align: center;
  color: #85eef6;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 60px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  z-index: 5;
}

.icon-arrow-left:before {
  content: "\e608";
}

.us-icons .icon-arrow-right {
  text-decoration: none;
  display: block;
  position: relative;
  top: 5px;
  padding-left: 23px;
  text-align: center;
  color: #024854;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 60px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  z-index: 5;
}

.icon-arrow-right:before {
  content: "\e607";
}











