#profile-banner {
  width: 100%;
  height: 300px;
}

.me-overlay {
  position: fixed;
  width: 100%;
  height: 300px;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.9;
  background: #024854;
}

.avatar img {
  max-width: 150px;
  border-radius: 7px;
}

.desaturate {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.me-name {
  font: 40px/50px 'Roboto', sans-serif;
  color: #85eef6 !important;
  font-weight: 400;
  z-index: 2;
}

.btn-menu {
  z-index: 999;
}

.btn-menu ul {
  display: block;
  list-style-type: none;
  margin-top: 0;
  margin-left: 20px;
  padding: 0;
}

.btn-menu li {
  display: inline-block;
}

.me-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  //text-align: center;
  margin: 20px 5px;
  width: 20em;
  color: #85eef6;
  text-transform: uppercase;
  border: 1px solid #85eef6;
  border-radius: 4px;
  padding: 25px 20px 25px 20px;
  background: transparent;
  transition: background 1s;
  -webkit-transition: background 1s;
}

.btn-menu input:hover {
  background-color: #024854;
  opacity: 0.9;
  border: 1px solid #FFF;
  //color: #FFF;
}

.profile-gallery{
  margin: 0;
  padding: 1px 1px;
}

/* `Gallery */

.wrap2 {
  background: #85eef6;
  padding: 5px 5px;
}

.wrap2 img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}

.gallery-overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(2, 72, 84, 0.9);
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  display: none;
  border: 15px solid #85eef6;
}


























