<!DOCTYPE html>
<html>
<body>


<div id="gcontainer" class="container_12">
  
  <div id="g1" class="grid_1"> 
  
  <div id="g2" class="grid_2">
  
  <!-- <div id="g3" class="grid_3"></div>
  
  <div id="g4" class="grid_4"></div>
  
  <div id="g5" class="grid_5"></div>
  
  <div id="g6" class="grid_6"></div>
  
  <div id="g7" class="grid_7"></div>
  
  <div id="g8" class="grid_8"></div>
  
  <div id="g9" class="grid_9"></div>
  
  <div id="g10" class="grid_10"></div>
  
  <div id="g11" class="grid_11"></div>
  
  <div id="g12" class="grid_12"></div> -->
  
  </div>
  </div>
</div>

</body>
</html>