<body>
  
	<div class="container">
		<div id="splitlayout" class="splitlayout">
      <div id="us-banner">
        <div class="row full-width">
      		<div id="splitlayout" class="splitlayout">
      			<div class="intro">
      				<div class="side side-left small-12 large-6 columns">	
      					<div class="intro-content">
      						<!-- <div class="profile"><img src="img/profile1.jpg" alt="profile1"></div>
                  <h1><span>Will Corcoran</span> -->
                
                  <div class="us-name1">
                    <span>Watch Us Build.</span>
                  </div>
              
                  <div class="us-line1">
                    <span>We are currently building at 138 N 1st in Brooklyn, NY</span>
                  </div>
              
                  <div class="us-line1">
                    <span>We'll be under construction soon.</span>
                  </div>
              
                  <div class="us-line1">
                    <span>Stop by to say hello. <a href="https://twitter.com/watchusbuildapp">Follow us.</a></span>
                  </div>
              
                  <div class="us-icons">
                    <a href="" target="_blank" class="icon-arrow-left"></a>
                  </div>
                  
      					</div>
      					<div class="us-overlay1"></div>
      				</div>
          
      				<div class="side side-right small-12 large-6 columns">
      					<div class="intro-content">
  						
                  <div class="us-name2">
                    <span>Build With Us.</span>
                  </div>
              
                  <div class="us-line2">
                    <span>Use our app to show us what you're building</span>
                  </div>
              
                  <div class="us-line2">
                    <span>Or, better yet, collaborate with us on our project.</span>
                  </div>
              
                  <div class="us-line2">
                    <span>We are building a team. Join us.</span>
                  </div>
              
                  <div class="us-icons">
                    <a href="" target="_blank" class="icon-arrow-right"></a>
                  </div>
              
      				</div>
              <div class="us-overlay2"></div>
          
      			</div><!-- /intro -->
      		</div><!-- /splitlayout -->
        </div><!-- /row -->
        
      </div>
      
      
  
    	<div class="page page-left">
    		<div class="page-inner">
      
        
      
      
        </div>
      </div>
  
    	<div class="page page-right">
    		<div class="page-inner">
      
        </div>
      </div>
    </div>
  </div>
  
  

</body>

























