<head>
  <script>
    function initialize() {
      var jobSite = new google.maps.LatLng(40.715181, -73.961486);
      var panoramaOptions = {
        position: jobSite,
        pov: {
          heading: 218.61,
          pitch: 21,
        },
        disableDefaultUI: true,
        panControl: false,
        zoomControl: false,
        mapTypeControl: false ,
        scaleControl: false,
        streetViewControl: true,
        overviewMapControl: false
      };
      var myPano = new google.maps.StreetViewPanorama(
          document.getElementById('map-canvas'),
          panoramaOptions);
      myPano.setVisible(true);
    }

    function loadScript() {
      var script = document.createElement('script');
      script.type = 'text/javascript';
      script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' +
          'callback=initialize';
      document.body.appendChild(script);
    }

    window.onload = loadScript;
  </script>
  
</head>

<body>
  
	<div class="container">
		<div id="splitlayout" class="splitlayout">
      <div id="us-banner">
        <div class="row full-width">
      		<div id="splitlayout" class="splitlayout">
      			<div class="intro">
      				<div id="map-canvas" class="side-left small-12 large-6 columns">
                <div class="us-overlay1"></div>
                
                <div class="info">
                  <div class="us-name1">
                    <span>Watch Us Build.</span>
                  </div>
        
                  <div class="us-line1">
                    <span>We are currently building at 138 N 1st in Brooklyn, NY</span>
                  </div>
        
                  <div class="us-line1">
                    <span>We'll be under construction soon.</span>
                  </div>
        
                  <div class="us-line1">
                    <span>Stop by to say hello. <a href="https://twitter.com/watchusbuildapp">Follow us.</a></span>
                  </div>
        
                  <div class="us-icons">
                    <a href="" class="icon-arrow-left"></a>
                  </div>
                </div>
      				</div>
          
      				<div class="side-right small-12 large-6 columns">
                <div class="us-overlay2"></div>
                
                <div class="info">
                  <div class="us-name2">
                    <span>Build With Us.</span>
                  </div>
        
                  <div class="us-line2">
                    <span>Use our app to show us what you're building</span>
                  </div>
        
                  <div class="us-line2">
                    <span>Or, better yet, collaborate with us on our project.</span>
                  </div>
        
                  <div class="us-line2">
                    <span>We are building a team. <a href="/">Join us.</a></span>
                  </div>
        
                  <div class="us-icons">
                    <a href="" class="icon-arrow-right"></a>
                  </div>
                </div>
      				</div>
          
      			</div><!-- /intro -->
      		</div><!-- /splitlayout -->
        </div><!-- /row -->
        
      </div>
      
      
  
    	<div class="page page-left">
    		<div class="page-inner">
      
          <!-- <div id="map-canvas"></div> -->
      
      
        </div>
      </div>
  
    	<div class="page page-right">
    		<div class="page-inner">
      
        </div>
      </div>
    </div>
  </div>
  
  

</body>

























