<head>
  <script>
    function initialize() {
      var jobSite = new google.maps.LatLng(40.715181, -73.961486);
      var panoramaOptions = {
        position: jobSite,
        pov: {
          heading: 218.61,
          pitch: 21,
        },
        zoom: 0,
        disableDefaultUI: true,
        panControl: false,
        scaleControl: false,
        zoomControl: false,
        mapTypeControl: false ,
        scaleControl: false,
        streetViewControl: false,
        overviewMapControl: false,
        scrollwheel: false
      };
    
      var myPano = new google.maps.StreetViewPanorama(
          document.getElementById('map-canvas'),
          panoramaOptions);
          myPano.setVisible(true);
    }

    function loadScript() {
      var script = document.createElement('script');
      script.type = 'text/javascript';
      script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' +
          'callback=initialize';
      document.body.appendChild(script);
    }

    window.onload = loadScript;
  </script>
  
</head>

<body>
  
  <section>  
    <div id="watch-us-build">
      <div class="row full-width">
  			<div id="map-canvas" class="small-12 large-12 columns">
          <div class="us-overlay1"></div>
    
          <div class="info1">
            <div class="us-name1">
              <span>Watch Us Build.</span>
            </div>

            <div class="us-line1">
              <span>We are currently building at 138 N 1st in Brooklyn, NY</span>
            </div>

            <div class="us-line1">
              <span>We'll be under construction soon.</span>
            </div>

            <div class="us-line1">
              <span>Stop by to say hello. <a href="https://twitter.com/watchusbuildapp">Follow us!</a></span>
            </div>

            <div class="us-icons">
              <a href="#section2" class="icon-arrow-down1"></a>
            </div>
          </div>
  			</div>   			
      </div>
    </div>
  </section>
   
  <section>
    <a name="section2"></a>
      <div id="build-with-us">
      	<div class="row full-width">
          <div class="small-12 large-12 columns">
            <div class="us-overlay2"></div>
          
            <div class="info2">
              <div class="us-name2">
                <span>Build With Us.</span>
              </div>

              <div class="us-line2">
                <span>Use our app to show us what you're building</span>
              </div>

              <div class="us-line2">
                <span>Or, better yet, collaborate with us on our project.</span>
              </div>

              <div class="us-line2">
                <span>We are building a team. <a href="/">Join us.</a></span>
              </div>

              <div class="us-icons">
                <a href="#section3" class="icon-arrow-down2"></a>
              </div>
            </div>
          </div>
          
          <div class="work-samples small-12 large-12 columns">
            <div class="sample1 small-12 large-4 columns">
              
            </div>
            
            <div class="sample2 small-12 large-4 columns">
          
            </div>
            
            <div class="sample3 small-12 large-4 columns">
          
            </div>
          </div>
        </div>
      </div>
  </section>
  
  <section>
    <a name="section3"></a>
      <div id="lead-by">
      	<div class="row full-width">
          <div class="small-12 large-12 columns">
            <div class="us-overlay2"></div>
          
            <div class="info2">
              <div class="us-name2">
                <span>A team of skilled artisans.</span>
              </div>

              <div class="us-line2">
                <span>Use our app to show us what you're building</span>
              </div>

              <div class="us-line2">
                <span>Or, better yet, collaborate with us on our project.</span>
              </div>

              <div class="us-line2">
                <span>We are building a team. <a href="/">Join us.</a></span>
              </div>

              <div class="us-icons">
                <a href="" class="icon-arrow-down2"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  
    	
      
  
  

</body>






















