<body>
  
  <div id="us-banner">
    <div class="row full-width">
  		<div id="splitlayout" class="splitlayout">
  			<div class="intro">
  				<div class="side side-left small-12 large-6 columns">	
  					<div class="intro-content">
  						<div class="profile"><img src="img/profile1.jpg" alt="profile1"></div>
  						<h1><span>Will Corcoran</span><span>Design/Build Architect</span></h1>
  					</div>
  					<div class="us-overlay1"></div>
  				</div>
          
          
          
  				<div class="side side-right small-12 large-6 columns">
  					<div class="intro-content">
  						<div class="profile"><img src="img/profile1.jpg" alt="profile1"></div>
  						<h1><span>Fara Britt Woolf</span><span>Web Development</span></h1>
  					</div>
  					<!-- <div class="us-overlay2"></div> -->
  				</div>
          
          
          
  			</div><!-- /intro -->
  		</div><!-- /splitlayout -->
    </div><!-- /row -->
  </div>
  
</body>
